<div class="well">
    <form action="" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <hr/>
        <input type="submit" class="btn btn-primary btn-sm pull-right"/>
    </form>
</div>